<style>
.navbar-default {
  background-color: #5590C9;
  border-color: #e7e7e7;
}
</style>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">Peixiao <font color="#00d1ff">Wang</font> (王培晓) @ IGSNRR</a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/"><font color="#000000">Home</font></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/experience"><font color="#000000">Experience</font></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/programsandhonors"><font color="#000000">Program & Honor</font></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publicationsandpatents"><font color="#000000">Publications & Patents</font></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/service"><font color="#000000">Service</font></a></li>
		 <!-- <li><a href="{{ site.url }}{{ site.baseurl }}/allnews"><font color="#000000">News</font></a></li>-->
	  </ul>
	</div>
  </div>
</div>
